.bold-text {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.big-text {
    -fx-font-size: 40px;
}

.title-text {
    -fx-font-size: 16px;
}

.interface-text {
    -fx-font-size: 14px;
}

.background {
    -fx-background-color: #F0F0F0;
}

.button {
    -fx-background-color: rgba(179, 138, 202, 0.5);
    -fx-text-fill: white;
    -fx-background-radius: 3;
    -fx-font-size: 12px;
}

.hyperlink {
    -fx-text-fill: #B38ACA;
    -fx-font-size: 14px;
    -fx-padding: 0;
}

.text-field {
    -fx-font-size: 14px;
    -fx-focus-color: #B38ACA;
}