.bold-text {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.big-text {
    -fx-font-size: 40px;
}

.special-text {
    -fx-font-size: 16px;
}

.background {
    -fx-background-color: #F0F0F0;
}