.bold-text {
    -fx-font-weight: bold;
}

.delete-button {
    -fx-focus-color: red;
}

.notification-text {
    -fx-wrap-text: true;
    -fx-max-width: Infinity;
    /*-fx-font-weight: bold;*/
    -fx-background-color: lightgray;
    -fx-background-radius: 8px;
    -fx-padding: 12px 12px;
    /*-fx-text-fill: #ffffff;*/
}